---
import Layout from '@layouts/Layout.astro';

// Fetch aves chilenas from the API
//const response = await fetch('https://aves.ninjas.cl/api/birds');
//const birds = await response.json() as Bird[];
---

<Layout title="Aves misteriosas de Chile">
    <div class="mx-auto mt-8 w-1/2 flex justify-center flex-col prose">
            <h2>Enciclopedia de Aves Chilenas</h2>
            <section>
                <p>En esta página encontrarás una lista de aves chilenas, haz click en una de ellas para ver más detalles.</p>
                <p>
                    <a href="/aves-chilenas/1" class="text-white bg-blue-500 hover:bg-blue-700 mt-4 inline-block py-2 px-4 rounded decoration-0 no-underline">
                        Ver las aves chilenas
                    </a>
                </p>
            </section>
    </div>
</Layout>
